.enhaut {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 2px;
  text-align: center;
}

.logods {
    width: 50px;
}

.video-header {
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 100vh;
}
.video-header, .video-header video, .video-header .viewport-header {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}
.video-header video {
  background: brown;
  object-fit: cover;
}
.video-header .viewport-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #040C1A;
font-family: 'Open Sans', sans-serif;
}

h1 {
font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: smaller;
  text-align: center;
}

#menu {
  display: flex;
  justify-content:center; 
  justify-content:space-evenly;
font-family: 'Open Sans', sans-serif;
}

#menu a:hover {
  color: gold;
  font-size: large;
  transition: all 0.2s ease-out;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

main {
  background: #040C1A;
  padding: 1rem;
  margin-top: 100vh;
font-family: 'Open Sans', sans-serif;
 color: white;
 text-align: center;
}

p {
font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 99%;
  max-height: 99%;
  border-radius: 1%;
}

.colonne {
  float: left;
  width: 48%;
  padding: 11px;
  justify-content: center;
}

.colonne img:hover {
  opacity:  0.3;
  transition: all 1s ease-out;
  cursor: pointer;
}

.lien_configurer {
  position: absolute;
  left: 1350px;
  top: 1480px;
  pointer-events: none;
  color: whitesmoke;
}

.configurer img:hover .lien_configurer{
  visibility: visible;
  opacity: 1;
}

.lien_essai {
  position: absolute;
  left: 400px;
  top: 1480px;
  pointer-events: none;
  color: whitesmoke;
}

.troisieme {
  width: 50%;
  justify-content: center;
}

#essai .lien_essai {
  visibility: hidden;
}

#essai:hover .lien_essai {
  visibility: visible;
}

#configurer .lien_configurer {
  visibility: hidden;
}

#configurer:hover .lien_configurer {
  visibility: visible;
}

.troisieme {
  width: 100%;
}

.enbas {
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 2px;
  text-align: center;
}

#reseaux {
    display: flex;
  justify-content:space-evenly;
}